#notification {
    position: fixed;
    top: 80px;
    right: 20%;
}
.notification {
    list-style: none;
    background-color: rgb(226, 126, 101);
    box-shadow: 0 0 8px 8px rgba(73, 72, 72, 0.2), 12px 12px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 16px 32px;
    border-radius: 8px;
}